{{- $name := promptStringOnce . "name" "What is your full name?" -}}
{{- $email := promptStringOnce . "email" "What is your email address?" -}}

data:
  name: {{ $name | quote }}
  email: {{ $email | quote }}
  editor: nvim

diff:
  exclude:  
    - scripts
