{{- if eq .chezmoi.os "linux" -}}
#!/bin/bash
{{- if eq .chezmoi.osRelease.id "arch" }}
# Install fish
if ! pacman -Qs fish > /dev/null; then
  sudo pacman -S fish
fi
{{- end}}

{{- if eq .chezmoi.osRelease.id "ubuntu" }}
# Install fish
if ! apt-cache show fish > /dev/null; then
  sudo apt install fish
fi
{{- end }}

# Install starship shell prompt
if [ ! -f /usr/local/bin/starship ]; then
  curl -sS https://starship.rs/install.sh | sh 2> /dev/null
fi
# Install plugin
{{- end }}
